<div>
  <!-- Barra de navegación. -->
  <nav
    class="nav nav-pills nav-fill flex-column flex-md-row"
    style="
      border-top: 4px solid #fff;
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
      background-color: #00358e;
    "
  >
    <a
      class="flex-md-fill text-md-center nav-link blanco separacion-nav"
      [routerLink]="barraNavegacion?.indice"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >Índice</a
    >
    <a
      class="flex-md-fill text-md-center nav-link blanco separacion-nav"
      [routerLink]="barraNavegacion?.experiencia"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >Experiencia</a
    >
    <a
      class="flex-md-fill text-md-center nav-link blanco separacion-nav"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="barraNavegacion?.educacion"
      >Educación</a
    >
    <a
      class="flex-md-fill text-md-center nav-link blanco separacion-nav"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="barraNavegacion?.habilidades"
      >Habilidades blandas y duras</a
    >
    <a
      class="flex-md-fill text-md-center nav-link blanco separacion-nav"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="barraNavegacion?.proyectos"
      >Proyectos</a
    >
  </nav>
</div>
