<div class="container-fluid border-lr bg-general"> <!-- Proyectos -->
  <div class="row" style="border-bottom: 4px solid #fff">
    <div class="col-md-3 g-0 align-self-center">
      <img class="img-fluid" [src]="proyecto?.img" alt="Foto de Proyecto">
    </div>
    <div class="separacion g-0">
    </div>
    <div class="col align-self-center">
      <div class="col cuadro-texto">
        <h1>
          {{proyecto?.titulo}}
        </h1>
        <h3>
          <strong>Período:</strong> {{proyecto?.inicio}} - {{proyecto?.fin}}
        </h3>
        <h5>
          {{proyecto?.descripcion}}
        </h5>
        <p>
          Para saber más puede ir a este <a href="#">enlace</a> (aún en desarrollo).
        </p>
      </div>
    </div>
  </div>
</div>
