<div class="container-fluid error">
  <div class="row align-self-center">
    <nav>
      <a
        class="nav-link barraError text-center"
        (click)="PlaySelect()"
        (mouseover)="PlayHover()"
        routerLink="/inicio"
      >
        ¿Regresar?
      </a>
    </nav>
    <img
      class="mx-auto"
      [src]="error?.noPagina.img"
      alt="Imagen de error"
      style="max-height: 100vh; max-width: 100vh"
    />
  </div>
  <div class="container-cajaNombre">
    <h4>Monika</h4>
  </div>
  <div class="container-cajaTexto pattern-ddlc">
    <span style="color: #fff">
      <strong>{{ error?.noPagina.mensaje }}</strong>
    </span>
  </div>
</div>
