@font-face {
  font-family: "Aller";
  src: local("Aller"), url("src/assets/Fuentes/aller/Aller_Std_Rg.ttf");
}

@font-face {
  font-family: "Riffic";
  src: local("Riffic"), url("src/assets/Fuentes/riffic/RifficFree-Bold.ttf");
}

.error {
  background-color: aliceblue;
  color: #eeebed;
  font-family: "Aller", Arial, Helvetica, sans-serif;
  position: absolute;
}

.barraError { /* Copiando estilo de barra de DDLC. */
  background-color: #ffe6f4;
  border: 6px solid #ffbde1;
  color: black;
  padding-bottom: 2px;
  padding-left: 13.4%;
  padding-right: 13.4%;
  padding-top: 2px;
  position: absolute;
}

.navbar-error {
  padding-left: 33%;
  padding-right: 33%;
}

.container-cajaTexto {
  background-color: #ffa8d1cc;
  border: 4px solid #ffdfee;
  border-radius: 15px;
  color: #ff96c5cc;
  height: 19%;
  left: 18%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1.1%;
  right: 18%;
  top: 74.4%;
  position: absolute; /* Esta posición permite sobreponerse a otros. */
  text-shadow: 2px 0 0 #4f2f3e, -2px 0 0 #4f2f3e, 0 2px 0 #4f2f3e, 0 -2px 0 #4f2f3e, 1px 1px #4f2f3e, -1px -1px 0 #4f2f3e, 1px -1px 0 #4f2f3e, -1px 1px 0 #4f2f3e;
}

.container-cajaNombre {
  background: #f7e5ed;
  background: linear-gradient(0deg, #ccbcc1e6  10%, #f7e5ede6 40%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 25%;
  font-family: "Riffic", Arial, Helvetica, sans-serif;
  padding-left: 2.7%;
  padding-right: 2.7%;
  padding-top: 7px;
  position: absolute;
  left: 21%;
  text-shadow: 2px 0 0 #b59, -2px 0 0 #b59, 0 2px 0 #b59, 0 -2px 0 #b59, 1px 1px #b59, -1px -1px 0 #b59, 1px -1px 0 #b59, -1px 1px 0 #b59;

  /* webkit-text-stroke: 1px #b59; */
}

.pattern-ddlc {
  background-image: radial-gradient(currentcolor 8px, transparent 8px), radial-gradient(currentcolor 8px, transparent 8px);
  background-size: calc(20 * 2px) calc(20 * 2px);
  background-position: 0 0, calc(10 * 2px) calc(10 * 2px);
}
